*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 12pxs;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	}
.top{
	width: 100%;
	background: gray;
}.top-1{
	margin: 0 auto;
	width: 1200px;
	background: yellowgreen;
}
.top-1 .main{
	width: 980px;
	height: 73px;
	background: blue;
	margin: 0 auto;
}
.top-1 .main .main_logo{
	float: left;
	display: inline;
	margin: 15px 0 0 0;
	width: 128px;
	height: 50px;
	position: relative;
	background: white;
}
.top-1 .main .main_logo img{
	vertical-align: middle;
}
.top-1 .nav{
	float: right;
	display: inline;
	padding: 6px 0 0 0;
	width: 688px;
	height: 14px;
	background: yellow;
}
.top-1 .nav ul{
	float: right;
	display: inline;
	font-family: tahoma,arial,sans-serif;
}
.top-1 .nav li{
	float: left;
	line-height: 12px;
	font-size: 12px;
	display: inline;
	padding: 0 11px 0 10px;
}
.top-1 .nav .nav_c{
	min-width: 76px;
	position: relative;
	left: -1px;
	top: -1px;
	height: 19px;
	border: 0 solid black;
	padding-left: 0;
	padding-right: ;
	display: inline-block;
}
.top-1 .nav .nav_c .nav_c1{
	padding: 5px 10px 0 10px;
	margin-top: -5px;
	height: 19px;
	background: 0;
	bottom: -1px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	position: relative;
}

